@import url(https://www.google.com/fonts#UsePlace:use/Collection:Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body { font-family: 'Lato Light' }
h1, h2, h3 { font-family: 'Lato'; font-weight: normal; color: #003c7e; }
p, ul, ol {line-height: 2em; }
img { width: 100% }
a:hover { background-color: #003c7e; color: #fff; text-decoration: underline;}
.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono';}
.remark-inline-code { font-family: 'Ubuntu Mono'; letter-spacing: 1px; background-color: #dbdbdb; color: #333; padding: 0px 4px; }

.quote { background-color: #d5e49d; line-height: 1.5em; margin-top: 5%; margin-bottom: 5%; padding: 2%; color: #333; }
blockquote { background-color: #dbdbdb; color: #333; margin: 0px; padding: 5px 20px; border-left: 4px solid #003c7e; }

.footnote { position: absolute; bottom: 3em; color: #fff; }
.footnote_text { position: absolute; bottom: 3em; color: #003c7e; font-style: italic; }

.title { background: #003c7e; text-shadow: 0 0 20px #265998; }
.title h1 { color: #fff; font-size: 32pt; }
.title h2 { color: #fff; font-size: 20pt; }
.inverse { background: #aeca4d; color: #fff; text-shadow: 0 0 20px #67691e; }
.inverse-blue { background: #3069aa; color: #fff; text-shadow: 0 0 20px #103672; }
.inverse h1, .inverse h2, .inverse h3 { color: #f3f3f3; line-height: 0.8em; }
.inverse-blue h1, .inverse-blue h2, .inverse-blue h3 { color: #fff; line-height: 0.8em; }

.agenda h2 { font-size: 24pt;}
.agenda h3 { font-size: 14pt; color: #333; background:#e4f0f7;}

.topic { background: #3069aa; color: #777872; text-shadow: 0 0 20px #333; }
.topic h1, .topic h2, .topic h3 { color: #f3f3f3; line-height: 0.8em; }

/* Two-column layout */
.left-column { color: #ddd; width: 20%; height: 100%; float: left;}

.left-column { text-transform: lowercase; }
.left-column h2 { font-size: 18pt; color: #003c7e; border-top: 1px solid #003c7e; }
.left-column h2:last-of-type, .left-column h2:last-child { color: #003c7e; font-size: 18pt; }

.left-column h3 { font-size: 14pt; color: #bed8ed;}
.left-column h3:last-of-type, .left-column h3:last-child { color: #000; font-size: 14pt; }

.right-column { width: 75%; float: right; padding-top: 1em; }
.right-column h1, .right-column h2, .right-column h3 { color: #003c7e; }

.red {color: #cc0000;}
.nolink a:link, .nolink a:visited, .nolink a:active { color: #003c7e; text-decoration: none; font-style: italic; }
.nolink a:hover{color: #fff; }

.image-50 img { width: 50%; }
.image-75 img { width: 75%; }
.image-100 img { width: 100%; }
.underline { text-decoration: underline; }